<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <!-- <div class="alert alert -<%= key %>"><%= value %></div> -->
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <%end%>
      <%= yield %>
      <!-- This code is responsible for inserting the contents of each page into the layout. It’s not important to know exactly how this works; what matters is that using this layout ensures that, for example, visiting the page /static_pages/home converts the contents of home.html.erb to HTML and then inserts it in place of <%= yield %>. -->
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %> 
      <!-- restricts debug info to development environment so production can't see -->
    </div>
  </body>
</html>